/**
 * Form elements
 */


// A switch
.form-switch {
    margin-bottom: .8rem;
}

// A button
.button {
    margin-bottom: 0;
}


// A container
.form-container {
    overflow: auto;
    background: #F2F2F2;
    border: 1px solid #D8D8D8;
    padding: 1rem 0 0 0;
}

// Add a media query for the inline label
label.inline-for-medium-up {
    @media #{$medium} {
        @include form-label(inline, false);
    }
}
