/**
 * The page elements
 */
.page {
    padding: 1em 1em 5em 1em;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    // The main title
    &__title {
        margin: 0 0 1em 0;
        color: $primary-color;
    }
}
