/**
 * The main layout of a page
 */
.page-layout {
    display: flex;
    flex-wrap: nowrap;

    // The sidebar
    &__sidebar {
        max-width: 15em;
    }

    // The content
    &__content {
        flex: 1;
    }
}
