// Make sure the charset is set appropriately
@charset "UTF-8";

@import "normalize.scss";
@import "foundation/_settings.scss";
@import "./_variables.scss";
@import "foundation.scss";


// General
html, body {
    height: 100%;
}
.off-canvas-wrap {
    height: 100%;
}
.inner-wrap {
    height: 100%;
}
.left-off-canvas-menu {
}
.app-content {
    height: 100%;
    overflow: auto;
}

// Components
@import "./components/_menu-off-canvas.scss";
@import "./components/_header.scss";
@import "./components/_page-layout.scss";
@import "./components/_menu-sidebar.scss";
@import "./components/_page.scss";
@import "./components/_form.scss";
@import "./components/_api-indicator.scss";
